.home-container {
  margin-top: 2rem;
}

.link-text {
  text-decoration: none;
}

.app-card {
  margin: 1rem;
  padding: 1rem;
}

.app-card-title {
  font-family: 'Noto Serif Bengali';
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
