.app {
  position: relative;
  min-height: 100vh;
}

.app-content {
  padding-bottom: 3rem;
}

.click-box {
  color: #000045;
  background-color: lavender;
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem #dedede;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.click-box:hover {
  background-color: #facdf6;
  border: 2px solid #eb1085;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem #ffe4f8;
  color: #9b0856;
}

.click-box-selected {
  background-color: #fcedd8;
  border: 2px solid #c97505;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem #fcedd8;
  color: #c16102;
}

.click-box-selected:hover {
  background-color: #fcedd8;
  border: 2px solid #c97505;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem #fcedd8;
  color: #c16102;
}

.click-box-correct {
  background-color: #50ff5b;
  border: 2px solid #005530;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem #d6ffc4;
  color: #002843;
}

.click-box-correct:hover {
  background-color: #50ff5b;
  border: 2px solid #005530;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem #d6ffc4;
  color: #002843;
}

.click-box-incorrect {
  background-color: #ff5f54;
  border: 2px solid #e40431;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem #ffaf6a;
  color: #ebebe4;
}

.click-box-incorrect:hover {
  background-color: #ff5f54;
  border: 2px solid #e40431;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem #ffaf6a;
  color: #ebebe4;
}

.click-box-text {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Noto Serif Bengali";
  font-size: 7rem;
  /* margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
